$black: rgb(19, 18, 18);
$white: rgb(255, 251, 251);
$background-colour-primary: rgba(176, 196, 222, 0.565);
$background-colour-tertiary: rgba(198, 198, 198, 0.506);

* {
  color: $black;
}

.main {
  background-color: $white;
  height: 90vh;
  width: 100vw;
  margin: 1rem;
  .form {
    margin: 1rem;
  }
  .message {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: $background-colour-primary;

    h1 {
      font-style: oblique;
    }
    p {
      text-indent: 1rem;
    }
  }
}
.navBar {
  height: 10vh;
  width: 100vw;
  display: inline-block;
  background-color: $background-colour-tertiary;
}
